<div id="<%= dom_id llm %>">
  <p>
    <strong>Name:</strong>
    <%= llm.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= llm.link %>
  </p>

  <p>
    <strong>Llmpage:</strong>
    <%= llm.llmpage_id %>
  </p>

</div>
