<div id="<%= dom_id story %>">
  <p>
    <strong>Name:</strong>
    <%= story.name %>
  </p>

  <p>
    <strong>Mytype:</strong>
    <%= story.mytype.name %>
  </p>
  <p>
story with
    <%= story.storypeople.map(&:name).to_sentence %>
  </p>

</div>
