<% content_for :title, "Editing automationpage" %>

<h1>Editing automationpage</h1>

<%= render "form", automationpage: @automationpage %>

<br>

<div>
  <%= link_to "Show this automationpage", @automationpage %> |
  <%= link_to "Back to automationpages", automationpages_path %>
</div>
