<% content_for :title, "New automationpage" %>

<h1>New automationpage</h1>

<%= render "form", automationpage: @automationpage %>

<br>

<div>
  <%= link_to "Back to automationpages", automationpages_path %>
</div>
